[tool.poetry]
name = "plinear"
version = "0.1.2"
description = "parallel neural network layer for binarization of ternarization - quantized layers from the beginning"
authors = ["your_name <your_email@example.com>"]
license = "MIT"
readme = "README.md"
packages = [
    { include = "plinear", from = "." },
]

[tool.poetry.dependencies]
python = "3.10.12"
torch = "2.2.2"
torchvision = "0.17.2"
torchaudio = "2.2.2"
numpy = "1.25.2"

[tool.poetry.group.dev.dependencies]
pytest = "^8.2.2"
scikit-learn = "^1.2.2"
matplotlib = "^3.7.1"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
